version: "3.9"

services:

  backend:
    build: ./backend
    container_name: portfolio_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: portfolio_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
